.git
.github
.husky
.vscode
.idea

node_modules
client/node_modules
server/node_modules
packages/*/node_modules

client/dist
server/dist
coverage
local
data
books

.env
server/.env
npm-debug.log*
pnpm-debug.log*
*.tsbuildinfo
.DS_Store
